body{
    font-family:"open sans",Verdana, Geneva, Arial, sans-serif;
    font-size: 100%;
}
/*topo de navegação das redes sociais.*/
.nav_topo_sociais{
    margin-right: auto;
    margin-left: auto;
     display: inline;
}
.nav_topo_sociais{
    position: absolute;
    top: 0;
    right: 0;
     display: inline;
}
.rom{
    display: inline;
}
.Contato_topo{
    width: 100%;
     display: inline;
}
.Contato_topo p, ul{
     display: inline;
}
.logo_facebook{
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    background-image: url("../img/icons/facebook.png");
}

/*logo e banner */
#header{
    background-color: #fcf8f7;
    height: 136px;
}
.main_logo{
    position: absolute;
    left:  -99999px;
}
.logo{
    width: 29%;
    height: 130px;
    
}

/*menu navegação principal.*/

.main_nav ul{    
    padding: 0px;
    margin: 0px;
    background-color: #fcf8f7;
    list-style: none;
    position: absolute;
    top: 88px;
    right: 20px;
    text-align: right;
}
.main_nav ul li{
    display: inline;
}
.main_nav ul li a{
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#fcf8f7;
    color: #d4355b;
    text-decoration: none;
}

/*Banner principal do site*/

.banner_principal{
    position: relative;
}
.Foto_banner{
    width: 100%;
    height: 365px;
}
.retangulo_banner{
   background: #d4355b;
    position: absolute;
    /* top: 284px; */
    /* right: 264px; */
    padding: 35px;
    width: 60%;
    margin: -100px 240px;
    text-align: center;
   
}
.retangulo_banner h1{
    font-family: "open sans";
    font-size: 2.3em;
    line-height: 60px;
    color: white;
    position: relative;
    bottom:  32px;
    font-weight: 500;
    text-transform: uppercase;
    
}
.retangulo_banner p{
    color: #e6d8d8;
    position: relative;
    bottom: 6px;
    text-indent: 1.8em;
    font-size: 1.2em;
}
/*Sobre mim*/

#sobre_mim{
    padding-top: 150px;
}
.titulo_sobre img,h1{
    display: inline;
}
.sobre_mayra{
    width: 66%;
    margin-left: 80px;
    margin-top: 20px;
}
.sobre_mayra figure{
    float: left;
    width: 33%;
    margin-left: 60px;
}
.sobre_mayra figure img{
    height: 350px;
}
.sobre_mayra figcaption{
    width: 100%;
    margin-left: 20px;
    margin-top: 5px;
}
.sobre_mayra p{
    width: 40%;
    float: left;
    /* margin-left: 84px; */
    /* padding: 10px; */
    /* position: absolute; */
    /* margin-left: 202px; */
    color: #d4355b;
}
.p_1{
    text-indent: 1.8em;
    font-size: 1.2em;
    font-weight: 400;
    position: absolute;
    top: 770px;
    /* left: 410px; */
    /* left: 359px; */
    margin-left: 485px;
    background-color: #fcf8f7;
    padding: 20px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
}
.p_2{
    text-indent: 1.8em;
    font-size: 1.2em;
    position: absolute;
    top: 900px;
    margin-left: 485px;
    /* left: 359px; */    
    /* margin-bottom: 492px; */
    margin-top: 0px;
    background-color: #fcf8f7;
    padding: 20px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center
}
.sobre_mayra .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		top:410px;
		-webkit-transition:all 0.15s ease-in-out;
		-moz-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;
}
.sobre_mayra img{
		-webkit-transition:all 0.15s ease-in-out;
		-moz-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;

	}
	.sobre_mayra .blur{
		background-color: rgba(212, 53, 91,0.95);
    height: 156px;
    width: 400px;
    z-index: 5;
    position: absolute;
	}
        .sobre_mayra .caption-text p{
            text-transform: uppercase;
            width: 85%;
            color: white;
            font-size: 105%;

        }
        .sobre_mayra .caption-text{
		z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 400px;
    text-align: center;
    top: 20px;
	}
        .sobre_mayra{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.sobre_mayra li{
		float: left;
    padding: 0px;
    position: absolute;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 30px;
	}

	.sobre_mayra li:hover .caption{
		opacity: 1;
		transform: translateY(-100px);
		-webkit-transform:translateY(-100px);
		-moz-transform:translateY(-100px);
		-ms-transform:translateY(-100px);
		-o-transform:translateY(-100px);
	}

	.sobre_mayra li:hover img{
		opacity: 1;
		transform: translateY(-40px);
		-webkit-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);

	}